# Go
backend/*.exe
backend/*.test
backend/*.prof
backend/*.db
backend/go.work

# Node / Angular
frontend/node_modules/
# frontend/dist/  <-- Uncommented to allow pushing build artifacts
frontend/.angular/
frontend/coverage/
frontend/npm-debug.log
frontend/yarn-error.log

# Uploads
backend/uploads/

# Python
.venv/
__pycache__/
*.pyc

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log